* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    background-color: rgb(23, 19, 59);

}

.container {
    width: 700px;
    height: 600px;
    background-color: #fff;


    position: absolute;  
    left: 50%;
    top: 50%;                      
    transform: translate(-50%, -50%)
}

.head-title {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.name {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    padding: 5px;
}

.list_link {
    display: flex;
}



/* характеристика 
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>